/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #FFE5B4;
  --matr-navbar-bg-rgb: 255, 229, 180;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  font-family: 'Noto Sans', sans-serif!important;
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.form {
  width: 50%;
  margin-left: 250px;
  position: relative;
}

.landingIcons {
  height: 50px;
  width: 50px;
}

tr:nth-child(1) {
  background-color: #CEB180;
}

tr:nth-child(2n+1) {
  background-color: #FFE5B4;
}

tr:nth-child(2n) {
  background-color: #FFE5B4;
}

th {
  background-color: #FFE5B4;
}

/* Set a fixed height for all card headers */
.rec-card-header {
  height: 350px;
  background-color: #fffaf0!important;
}

.rec-card-middle {
  background-color: #FEFBF1!important;
}

.rec-card-footer {
  background-color: #FFEECC!important;
}

/* Ensure that the header contents don't overflow the fixed height */
.rec-card-header > * {
  max-height: 100%;
  overflow: hidden;
}

.rec-card-img {
  height: 60%;
  object-fit: cover;
}

.review-comment {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.navbar-g {
  background: linear-gradient(to right, #FFE5B4,#FFF5E4);
  font-weight: bold;
}
/* Accordion settings for Review Component */
.accordion-button {
  background-color: #FFE5B4 !important;
}


.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #FFE5B4;
}

.offcanvas{
  width:45% !important;
  min-width: 350px;
}

.admin-btn {
  font-size: 16px;
  flex-grow: 1;
  width: 100%;
}

@media screen and (max-width: 600px) {
  table {
    font-size: 10px;
  }
  .admin-btn {
    font-size: 0.65rem !important;
    flex-grow: 1 !important;
    width: 100% !important;
  }
}
